@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100vh;
    min-height: 100vh;
    color: rgb(79, 79, 79);
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *::selection {
    background-color: rgb(79 79 79);
    color: rgba(229, 229, 229, 0.9);
  }
}

.slick-slide > div {
  margin: 0rem 1rem;
  margin-top: 2rem;
  z-index: 3;
}
.slick-slide {
  padding-bottom: 4rem;
}
@media (max-width: 640px) {
  .slick-slide > div {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .slick-slide {
    padding-bottom: 1rem;
  }
}
.slick-initialized {
  margin-bottom: 4rem;
}

.slick-dots button::before {
  color: #4f4f4f !important;
  font-size: 0.8rem !important;
  transition: all ease 0.3s !important;
}
